.layout {
    display: flex;
    min-height: 100vh;
    background-color: #f8fafc;
    /* bg-slate-50 */
}

.mainContent {
    flex: 1;
    margin-left: 288px;
    /* Match sidebar width */
    display: flex;
    flex-direction: column;
    width: calc(100% - 288px);
}

.contentScroll {
    flex: 1;
    padding: 32px;
    overflow-y: auto;
}